<div class="container">
  <div class = "list-group-item px-20" style = "border-radius: 10px" >
    <% @bookmarks.each do |bookmark|%>
      <br>
      <div style = "text-align: center">
        <h2><%= bookmark.name%></h2>
      </div>
      <br>
      <i class = "text-muted"><%= Category.find(bookmark.category_id).name%> </i>
      <div style = "text-align: center">
        <%= image_tag(bookmark.image) %>
      </div>
      <br>
      <%= bookmark.body %>
    <%end%>
  </div>
  <br><br>
</div>
